<mz-navbar navbarClass="blue navMan">
    <span class="brand-logo center hide-on-small-only">Olá {{currentUser.name}}</span>
    <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <button *ngIf="alertaServicos" type="button" class="btn  btn-floating red">
          <i class="material-icons">priority_high</i>
        </button>
      </mz-navbar-item>
      <mz-navbar-item>
        <a routerLink="/login">
          <button type="button" id="logOut" class="waves-effect waves-teal btn-flat btn-large white-text">Sair</button>
        </a>
      </mz-navbar-item>
    </mz-navbar-item-container>
  </mz-navbar>
<div id="pai" style="margin-top: 20px;" class="col m12 s12">
  <div class="row">
    <div class="col m12 s12">
      <table class="highlight centered">
        <thead>
          <tr>
            <th colspan="3" class="h2 TituloTabela  blue lighten-3">Serviços Solicitados</th>
          </tr>
          <tr>
            <th>Serviço</th>
            <th>Descrição</th>
            <th>Endereço</th>
            <!-- <th>
              <button mz-button (click)="sidenav.opened = !sidenav.opened" id="sidenav-btn">
                Open
              </button>
            </th> -->
          </tr>
        </thead>
        <tbody>
          <mz-spinner [hidden]="!loading" [color]="'blue'" [size]="'small'">
          </mz-spinner>
          <tr class="collection-item avatar" *ngFor='let oferta of ofertas' (click)="SelecionaOferta(oferta, bottomSheetModal);">
            <td>{{oferta.serviceType.description}}</td>
            <td>{{oferta.description}}</td>
            <td>
              <p>
                {{oferta.address}}, {{oferta.number}} {{oferta.region}} {{oferta.city}}, {{oferta.state}}
                <br> {{oferta.cep}}
              </p>
            </td>
            <td *ngIf="oferta.status==5">Aguardando Aprovação</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" style="margin-top:25%;">
    <div class="col m12 s12">
      <mz-spinner [hidden]="!loadingserv" [color]="'blue'" [size]="'small'">
      </mz-spinner>

      <!-- <ul class="collection with-header">
        <li class="h2 TituloTabela blue lighten-5"></li>
        <li class="collection-item" *ngIf='!servico'>
          <span>{{servico?.serviceType}}</span>
          <p>{{servico?.status}}
            <br> {{servico?.value}}
            <br> {{servico?.comments}}
          </p>
        </li>
      </ul> -->
      <table class="highlight centered">
        <thead>
          <tr>
            <th colspan="4" class="h2 TituloTabela red lighten-4" [class.servicoColor]="servico">Serviço Ativo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!servico">
            <span>
              <i class="material-icons ">error_outline</i>{{mensagemErroServico}}
            </span>
          </tr>
          <tr *ngIf="servico?.status != 1" (click)='toggleCard()'>
            <td>{{servico?.serviceType}}</td>
            <td>{{servico?.value}}</td>
            <td>{{servico?.comments}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row" *ngIf="card">
      <div class="col s12 offset-m6 m4">
        <div class="card">
          <div class="card-content">
            <button mz-button [flat]="true" (click)="toggleCard()" class="right">
              <i class="material-icons">close</i>
            </button>
            <span class="card-title">Deseja finalizar este serviço?</span>
            <p>
              <button type="button" class="waves-effect waves-light btn blue darken-4 white-text" (click)="finalizarServico()">Finalizar</button>
              <button type="button" class="waves-effect waves-light btn red accent-4 white-text" (click)="toggleCard()">Cancelar</button>
              <mz-spinner [hidden]="!finServicoloading" [color]="'red'" [size]="'small'">
              </mz-spinner>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<mz-modal #bottomSheetModal [fixedFooter]="true" [bottomSheet]="false" [options]="modalOptions">
  <mz-modal-header>
    <h4>Enviando Proposta de Serviço</h4>
  </mz-modal-header>
  <mz-modal-content style="background-color: azure;">
    <div class="row">

      <form [formGroup]="form">
        <!-- SEGUNDA COLUNA -->
        <div class="col m6 push-m6 s12 border">

          <div class="input-field col m12 s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" formControlName="Comments" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Comentário</label>
          </div>
          <div class="input-field col m4 s6">
            <input type="number" formControlName="Value" min="0" step="0.1" id="valor">
            <label for="Value">Valor</label>
          </div>
          <div class="input-field col m6 s6">
            <input mz-input mz-validation type="text" placeholder="__:__ (hora/minuto)" formControlName="ApproximateTime" id="tempo">
            <label for="ApproximateTime">Tempo Estimado</label>
          </div>
        </div>
        <!-- FIM SEGUNDA -->

        <!-- PRIMEIRA COLUNA -->
        <div class="col m6 pull-m6 s12">
          <div class="row">
            <div class="col m5 s12">
              <label for="serviceType">Tipo de Serviço</label>
              <input type="text" value="{{ofertaServico?.serviceType?.description}}" class="form-control" readonly>
            </div>
            <div class="col m6 s12">
              <label>Nome do Solicitante</label>
              <input type="text" value="{{client?.name}}" class="form-control" readonly>
            </div>
          </div>
          <div class="row">
            <div class="col m11 s12">
              <label for="description">Descrição do Problema</label>
              <input type="text" value="{{ofertaServico?.description}}" class="form-control" readonly>
            </div>
          </div>
        </div>
        <!-- fim primeira-->



        <!-- TERCEIRA -->
        <div class="col m12 s12">
          <div class="row">
            <div class="col m6 s6">
              <label>Endereço</label>
              <input type="text" formControlName="Address" value="{{ofertaServico?.address}}" class="form-control" readonly>
            </div>
            <div class="col m1 s6">
              <label>Nº</label>
              <input type="text" formControlName="Number" value="{{ofertaServico?.number}}" class="form-control" readonly>
            </div>
            <div class="col m3 s6">
              <label>Telefone para contato </label>
              <input type="text" value="{{client?.cellPhone}}" class="form-control" readonly>
            </div>
            <div class="col m3 s6">
              <label>Bairro</label>
              <input type="text" formControlName="Region" value="{{ofertaServico?.region}}" class="form-control" readonly>
            </div>


            <div class="col m2 s6">
              <label>Cidade</label>
              <input type="text" formControlName="City" value="{{ofertaServico?.city}}" class="form-control" readonly>
            </div>
            <div class="col m3 s6">
              <label>Estado</label>
              <input type="text" formControlName="State" value="{{ofertaServico?.state}}" class="form-control" readonly>
            </div>
            <div class="col m2 s6">
              <label>CEP</label>
              <input type="text" formControlName="CEP" value="{{ofertaServico?.cep}}" class="form-control" readonly>
            </div>
          </div>
        </div>
      </form>
    </div>
  </mz-modal-content>
  <mz-modal-footer>
    <button mz-button [flat]="true" mz-modal-close>Cancelar</button>
    <button mz-button type="button" [flat]="true" [disabled]="!form.valid" (click)="Salvar();">Enviar</button>
    <img *ngIf="loadingForm" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
  </mz-modal-footer>
</mz-modal>