
<div id="pai" class="col m7 s7"  align="center">
    <div class="row">
      <div class="col m7 s9">
      <h1 class="h2">O que podemos consertar para você?</h1>
    </div>
    </div>
    <form [formGroup]="form" (ngSubmit)="Send();" >
      <div class="row">
            <div class="input-field col offset-m2 m5 s12">
              <select class="browser-default col m8" formControlName="ServiceTypeId">
                <option value='' disabled selected>--Selecione--</option>
                <option *ngFor='let type of typeServices' [value]='type.id'>{{type.description}}</option>
              </select>              
          </div>
        </div>
        <div class="row">
          <div class="input-field col offset-m2 m7 s12">
            <textarea class="materialize-textarea" id="Description" formControlName="Description" data-length="500"></textarea>
            <label for="Description">Descreva seu Problema</label>
          </div>   
        </div>
          <div class="row">
              <div class="col offset-m2 m4 s7">
                <button type="button" class="btn btn-small blue darken-2 ">Insira uma foto (Opcional)</button>
              </div>
              <div class="col m4 s5">
                <button type="submit" [disabled]="!form.valid" class="waves-effect waves-light btn teal accent-4 white-text">Enviar Pedido</button>
              </div>
          </div>
    </form>  
  </div>
         <div class="row" style="margin-left: 17%; width: 58%;"> 
           <app-tabela-fitter (formEvent)="receiveForm($event)" ></app-tabela-fitter>
         </div>
