
  <table id="tabela" class="highlight centered">
     <thead>
       <tr>
         <th scope="col">Disponível</th>
         <th scope="col">Manutentor</th>
         <th scope="col">Avaliação</th>
       </tr>
     </thead>
     <tbody>
       <loading style="margin: 15%,0,0,50%;" [hidden]='!loading'></loading>
       <tr [hidden]='loading' *ngFor='let fitter of fitterList; let i=index' (click)='seleciona(fitter); setClickedRow(i)' [class.active]="i == selectedRow">
         <td>
           <span *ngIf='fitter.availability; then verdadeiro else falso'></span>
           <ng-template #verdadeiro><i class="material-icons" style="color: green">fiber_manual_record</i></ng-template>
           <ng-template #falso><i class="material-icons" style="color: red">fiber_manual_record</i></ng-template>
         </td>
         <td>{{fitter.name}}</td>
         <td>
           <pm-star (ratingClicked)='onRatingClicked($event)' [rating]='fitter.averageRating'>
         </pm-star>
         </td>
         </tr>
     </tbody>
   </table>