<loading style="margin-left:50%;" [hidden]='!loading'></loading>
  <table [hidden]='loading' id="tabela" class="highlight centered">
     <thead>
       <tr>
         <th scope="col">Disponível</th>
         <th scope="col">Manutentor</th>
         <th scope="col">Avaliação</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor='let fitter of fitterList'>
         <td>
           <span *ngIf='fitter.availability; then verdadeiro else falso'></span>
           <ng-template #verdadeiro><i class="material-icons" style="color: green">fiber_manual_record</i></ng-template>
           <ng-template #falso><i class="material-icons" style="color: red">fiber_manual_record</i></ng-template>
         </td>
         <td  (click)='seleciona(fitter)'>{{fitter.name}}</td>
         <td>
           <pm-star [rating]='fitter.averageRating'
           (ratingClicked)='onRatingClicked($event)'>
         </pm-star>
         </td>
         </tr>
     </tbody>
   </table>