<loading [hidden]='!loading' ></loading>
<div [hidden]='loading' class="row table-responsive col-sm-8" style=" font-size: 14px; margin-top: 15px;">
  <table id="tabela" class="table table-reponsive table-bordered table-hover" style="background: white; color: black;">
     <thead>
       <tr>
         <th scope="col">Disponível</th>
         <th scope="col">Manutentor</th>
         <th scope="col">Avaliação</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor='let fitter of fitterList'>
         <td>
           <span *ngIf='fitter.availability; then verdadeiro else falso'></span>
           <ng-template #verdadeiro><i class="material-icons" style="color: green">fiber_manual_record</i></ng-template>
           <ng-template #falso><i class="material-icons" style="color: red">fiber_manual_record</i></ng-template>
         </td>
         <td  (click)='seleciona(fitter)'>{{fitter.name}}</td>
         <td>
           <pm-star [rating]='fitter.averageRating'
           (ratingClicked)='onRatingClicked($event)'>
         </pm-star>
         </td>
         </tr>
     </tbody>
   </table>
 </div>