
button.Color-RichBlack {
    background-color: #00171F !important;
}

input[type=submit].Color-RichBlack {
    background-color: #00171F !important;
}

.Color-RichBlack {
    color:#00171F !important;
}


button.Color-PrussianBlue {
    background-color: #003459 !important;
}

input[type=submit].Color-PrussianBlue {
    background-color: #003459 !important;
}

.Color-PrussianBlue {
    color:#003459 !important;
}


button.Color-Cerulean {
    background-color: #007EA7 !important;
}

input[type=submit].Color-Cerulean {
    background-color: #007EA7 !important;
}

.Color-Cerulean {
    color:#007EA7 !important;
}

button.Color-MayaBlue {
    background-color: #73CFF2 !important;
}

input[type=submit].Color-MayaBlue {
    background-color: #73CFF2 !important;
}

.Color-MayaBlue {
    color:#73CFF2 !important;
}


button.Color-White {
    background-color: #FFFFFF !important;
}

input[type=submit].Color-White {
    background-color: #FFFFFF !important;
}

.Color-White {
    color:#FFFFFF !important;
}

a:hover {
    cursor: pointer;
    opacity:0.8;
    color:#73CFF2;
}

.h1 {
   font-size: 48px;
}
.h2 {
    font-size: 23px;
}

.h3 {
    font-size: 18px;
}

footer { 
position: absolute;
bottom: 0;
}

.margin-zero {
    margin: 0 !important;
}